@model LoginViewModel

@{
    ViewBag.Title = "Log in to Web";
}

<div class="container p-5">
    <div class="row">
        <form class="card p-5 m-auto col-12 col-md-6" asp-controller="Account" asp-action="login" method="post">
            <div class="card-body">
                <h3 class="text-center card-title mb-3">Login Account</h3>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label p-0" for="email">Email / Username: </label>
                        <input type="email" class="form-control" id="email" name="Email" required>
                        @* <span class="text-danger" asp-validation-for="Email"></span> *@
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label p-0" for="password">Password: </label>
                        <input type="password" class="form-control" id="password" name="Password" required>
                        @* <span class="text-danger" asp-validation-for="Password"></span> *@
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <a href="#">Forgot Password</a>
                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="d-flex flex-row justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary w-75" >Sign In</button>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <hr>
                    </div>
                    <div class="col text-center p-0">
                        <p>Or</p>
                    </div>
                    <div class="col">
                        <hr>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <a asp-action="register" asp-controller="Account" class="btn btn-success w-75">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>