@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="container mt-5 p-5">
    <link rel="stylesheet" href="~/css/validate.css">
    <div class="row">
        <form id="registerForm" class="card p-5 m-auto col-12 col-md-6" method="post">
            <div class="card-body">
                <h3 class="text-center card-title mb-3">Register Account</h3>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label p-0" asp-for="Email">Email: </label>
                        <input type="email" class="form-control" asp-for="Email">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label p-0" asp-for="Password">Password: </label>
                        <input type="password" class="form-control" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label p-0" asp-for="ConfirmPassword">Confirm Password: </label>
                        <input type="password" class="form-control" asp-for="ConfirmPassword" required>
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                @* <div class="text-danger" asp-validation-summary="All"></div> *@
                <div class="d-flex flex-row justify-content-center mt-5">
                    <button type="submit" class="btn btn-success w-75" >Sign up</button>
                </div>
            </div>
        </form>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function() {
                $('#registerForm').validate();
            });
        </script>
    }
</div>