<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a asp-action="index" asp-controller="employee" class="navbar-brand"><img src="~/img/home-button.png" alt="" style="width: 2.5vh;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" asp-action="index" asp-controller="employee">Home</a>
                    <a class="nav-link" asp-action="create" asp-controller="employee">Create</a>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    @if(IsSectionDefined("Scripts")) {
        @RenderSection("Scripts", required: true)
    }
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" ></script>
</body>
</html>