<h3>Ups! An occured while processing your request.</h3>
<h5>Please contact us on me@gmail.com</h5>
<hr>
<h3>Exception Information :</h3>
<div class="alert alert-danger" role="alert">
    <h5>Path:</h5>
    <hr>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger" role="alert">
    <h5>Error Message:</h5>
    <hr>
    <p>@ViewBag.ExceptionMessage</p>
</div>
