<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" inert>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content m-auto w-50">
            @* <div id="modalHeader" class="modal-header">
                <h5 class="modal-title" id="successModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> *@
            <div class="modal-body text-center">
                <div id="modalIconContainer"></div>
                <p id="modalMessage" class="mt-3"></p>
            </div>
        </div>
    </div>
</div>