@model EmployeeEditViewModel

@{
    ViewBag.Title = "Edit Employee";
    var photoPath = "~/img/" + (@Model.ExistingPhotoPath ?? "");
}

<div class="container p-5">
    <form class="card p-3" enctype="multipart/form-data" asp-controller="employee" asp-action="edit" method="post">
        <h3 class="text-center card-title mb-3">Employee Form</h3>
        @* <div class="text-danger" asp-validation-summary="All"></div> *@
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ExistingPhotoPath"/>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label class="col-form-label" asp-for="Name">Name</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" placeholder="Full Name"/>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label class="form-label" asp-for="Email">Email</label>
            </div>
            <div class="col-sm-10">
                <input type="email" class="form-control" asp-for="Email" placeholder="Email"/>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label class="col-form-label" asp-for="Gender">Sex</label>
            </div>
            <div class="col-sm-10">
                <select class="form-select col-sm-10" asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderEnum>()">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label class="col-form-label" asp-for="Departement">Departement</label>
            </div>
            <div class="col-sm-10">
                <select class="form-select" asp-for="Departement" asp-items="Html.GetEnumSelectList<DepartementEnum>()">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <label class="col-form-label" asp-for="PhotoPath">Photo</label>
            </div>
            <div class="col-sm-10">
                <input class="form-control" type="file" asp-for="PhotoPath" placeholder="Change a Photo"/>
            </div>
        </div>
        <div class="row mb-3">
            <div class="text-center w-50 m-auto">
                @if (!string.IsNullOrWhiteSpace(@Model.ExistingPhotoPath)) 
                {
                    <img class="card-img w-50 m-3" src="@photoPath" asp-append-version="true" alt="avatar">
                } 
                else 
                {
                    @if (@Model.Gender == GenderEnum.Male)
                    {
                        <img class="card-img w-50 m-3" src="~/img/undraw_male_avatar_g98d.min.svg" asp-append-version="true" alt="no-image-male">
                    }
                    else
                    {
                        <img class="card-img w-75 m-3" src="~/img/undraw_Female_avatar_efig.png" asp-append-version="true" alt="no-image-female">
                    } 
                }
            </div>
        </div>
        <div class="card-body align-self-end">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" onclick="history.back()">Back</a>
        </div>
    </form>
</div>