@model List<Employee>;

@{
    ViewData["Title"] = "Employee List";
}

<div class="container" style="height: 100vh;">
    <div class="row row-cols-1 row-cols-md-2 g-4 p-4">
        @foreach(Employee employee in Model) {
            <div class="col">
                <div class="card">
                    <div class="text-center pt-3" style="background-color: grey;">
                        <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512 " style="width: 5rem;">
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                        </svg>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">@employee.Name</h3>
                        <p class="card-text mb-0">@employee.Email</p>
                        <p class="card-text">@employee.Departement</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="employee" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
        
</div>

